@using System.Linq
@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Models.EditCompanyModel


@{
    string actionString = @Url.Page("Index", "Update");
    string buttonName = "Update";
}
@if (Model.Company.Id == null)
{
    actionString = @Url.Page("Index");
    buttonName = "Hinzufügen";
}

<form id="companyForm" action="@actionString" method="post">
    <input type="hidden" asp-for="Company.Id"/>
    @Html.AntiForgeryToken()
    @foreach (var attribute in Model.Attributes)
    {
        var index = 0;
        
        var value = Model.Company.CompanyAttributeValues.FirstOrDefault(v => v.CompanyAttributeId == attribute.Id);
        if (value != null)
        {
            index = Model.Company.CompanyAttributeValues.IndexOf(value);
        }
        else
        {
            index = Model.Company.CompanyAttributeValues.Count;
            Model.Company.CompanyAttributeValues.Add(new CompanyAttributeValueDto());
        }


        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="valueName">@(attribute.Name)</label>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" asp-for="@Model.Company.CompanyAttributeValues[index].Value"/>
                        <input type="hidden" asp-for="@Model.Company.CompanyAttributeValues[index].CompanyAttributeId" value="@(attribute.Id)"/>
                        <input type="hidden" asp-for="@Model.Company.CompanyAttributeValues[index].CompanyId" value="@(Model.Company.Id)"/>
                    </div>

                </div>
            </div>
        </div>
    }

    <div class="form-group" align="center">
        <label asp-for="Company.Visible">Sichtbar <span class="bi-eye" aria-hidden="true"></span></label>
        <input asp-for="Company.Visible" type="checkbox">
    </div>
</form>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                onclick="SubmitForm('companyForm')">
            @buttonName
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                onclick="PostData('@Url.Page("Index", "Delete")', { id: @(Model.Company.Id) })">
            Löschen
        </button>
    </div>
</div>