@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Models.TableValues


<div style="overflow: auto">
    <table class="table table-striped">
        <thead>
            @if (Model.Attributes != null)
            {
                <tr>
                    <th>
                        <input type="button" onclick="ShowModal()" class="btn btn-primary" value="+">
                    </th>

                    @foreach (var attribute in Model.Attributes)
                    {

                        <th>
                            <form asp-page-handler="Attribute" id="attributeForm" method="post">
                                <input type="text" name="attributeName" value="@(attribute.Name)" />
                                <input type="hidden" name="attributeId" value="@(attribute.Id)" />
                            </form>
                        </th>
                    }
                </tr>
            }
        </thead>
        <tbody>
            @if (Model.Companies != null)
            {
                @foreach (var company in Model.Companies)
                {
                    <tr>
                        <td>
                            <button class="btn btn-primary" data-id="@company.Id" data-toggle="modal" data-target="#edit">Edit</button>
                        </td>
                        @foreach (var value in company.CompanyAttributeValues)
                        {
                            <td>
                                <form asp-page-handler="UpdateValue" id="valueForm" method="post">
                                    <input type="text" name="valueName" value="@(value.Value)" />
                                    <input type="hidden" name="companyId" value="@(value.CompanyId)" />
                                    <input type="hidden" name="attributeId" value="@(value.CompanyAttributeId)"/>

                                </form>
                            </td>
                        }

                        @for (var index = 0; index < Model.Attributes.Count - company.CompanyAttributeValues.Count; index++)
                        {
                            <td>
                                <form asp-page-handler="Value" method="post">
                                    @{ int attributeid = company.CompanyAttributeValues.Count + index + 1;}
                                    <input type="text" name="valueName" value=""/>
                                    <input type="hidden" name="companyId" value="@company.Id"/>
                                    <input type="hidden" name="attributeId" value="@attributeid"/>
                                </form>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <form method="post">
        <button type="submit" class="btn btn-primary">Add Company</button>
    </form>
</div>