@using Neusta.CompamyService.Gui.CompanyServiceApi
@using Neusta.CompamyService.Gui.Models
@model Neusta.CompamyService.Gui.Models.TableValues
@{ Layout = null; }
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "__AjaxAntiForgeryForm"}))
{
    @Html.AntiForgeryToken()
}

<div name="table" style="overflow: auto">
    <table class="table table-bordered">
        <thead>
        @if (Model.Attributes != null)
        {
            <tr>
                <th>
                    <button type="button" class="btn btn-primary"
                            onclick="PopUpModal('@Url.Page("Index", "AddAttributeModalPartial")', 'Attribut hinzufügen')">
                        +
                    </button>
                </th>

                @foreach (var attribute in Model.Attributes)
                {
                    <th>
                        <div class="row" align="center">
                            <span class="mx-1">
                                @Html.DisplayName(attribute.Name)
                            </span>

                            <button type="button" class="btn btn-primary" style="font-size: xx-small"
                                   onclick="PopUpModal('@Url.Page("Index", "EditAttributeModalPartial", attribute)', 'Attribute bearbeiten')">
                                <span class="bi-pen" aria-hidden="true"></span>
                            </button>
                        </div>
                    </th>
                }
            </tr>
        }
        </thead>
        <tbody>
        @if (Model.Companies != null)
        {
            @foreach (var company in Model.Companies)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" 
                                onclick="PopUpModal('@Url.Page("Index", "EditCompanyModalPartial", company)','Company bearbeiten')">
                            <span class="bi-pen" aria-hidden="true"></span>
                        </button>


                    </td>

                    @foreach (var attribute in Model.Attributes)
                    {
                        var value = company.CompanyAttributeValues.FirstOrDefault(v => v.CompanyAttributeId == attribute.Id);
                        var valueName = "";
                        if (value != null)
                        {
                            valueName = value.Value;
                        }
                        <td>
                            @Html.DisplayName(valueName)
                        </td>
                    }
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="btn btn-primary"
            onclick="PostData('@Url.Page("Index")')">
        Company hinzufügen
    </button>
</div>