@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Models.TableValues
@{ Layout = null; }
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "__AjaxAntiForgeryForm"}))
{
    @Html.AntiForgeryToken()
}


<div name="table" style="overflow: auto">
    <table class="table table-bordered">
        <thead>
        @if (Model.Attributes != null)
        {
            <tr>
                <th>
                    <button type="button" class="btn btn-primary"
                            data-toggle="AddAttribute-Modal"
                            data-url="@Url.Page("Index", "AddAttributeModalPartial")">
                        +
                    </button>
                </th>

                @foreach (var attribute in Model.Attributes)
                {
                    <th>
                        <div>
                            @Html.DisplayName(attribute.Name)
                            <button type="button" class="btn btn-primary" data-toggle="EditAttribute-Modal"
                                    data-url="@Url.Page("Index", "EditAttributeModalPartial", attribute)">
                                <span class="bi-pen" aria-hidden="true"></span>
                            </button>
                        </div>
                    </th>
                }
            </tr>
        }
        </thead>
        <tbody>
        @if (Model.Companies != null)
        {
            @foreach (var company in Model.Companies)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="EditCompany-Modal"
                                data-url="@Url.Page("Index", "EditCompanyModalPartial", company)">
                            <span class="bi-pen" aria-hidden="true"></span>
                        </button>

                    </td>

                    @foreach (var attribute in Model.Attributes)
                    {
                        var value = company.CompanyAttributeValues.FirstOrDefault(v => v.CompanyAttributeId == attribute.Id);
                        var valueName = "";
                        if (value != null)
                        {
                            valueName = value.Value;
                        }
                        <td>
                            @Html.DisplayName(valueName)
                        </td>
                    }
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="btn btn-primary"
            onclick="PostData('@Url.Page("Index")')">
        Company hinzufügen
    </button>
</div>