@using Neusta.CompanyService.Gui.CompanyServiceApi
@model Neusta.CompanyService.Gui.Models.TableModel
@{
    Layout = null;
}

<table>
    <thead>
        @if (Model.Attributes != null)
        {
            <tr>
                @foreach (CompanyAttributeDto attribute in Model.Attributes)
                {
                    <th>
                        <form asp-page-handler="UpdateAttribute" method="post">
                            <input type="text" id="attributeName" value="@(attribute.Name)" />
                            <input type="hidden" id="attribute" value="@(attribute)" />
                        </form>
                    </th>
                }

                <th>
                    <a onlick="ShowAddAttribute('@Url.Page("AddAttribute", "")')" class="btn btn-primary">+</a>
                </th>
            </tr>
        }
    </thead>
    <tbody>
        @if (Model.Companies != null)
        {
            @foreach (CompanyDto company in Model.Companies)
            {
                <tr>
                    @foreach (CompanyAttributeValueDto value in company.CompanyAttributeValues)
                    {
                        <td>
                            <form asp-page-handler="UpdateValue" method="post">
                                <input type="text" value="@(value.Value)" />
                                <input type="hidden" id="value" value="@(value)" />
                            </form>
                        </td>
                    }

                    @for (int index = 0; index < Model.Attributes.Count - company.CompanyAttributeValues.Count; index++)
                    {
                        <td>
                            <form asp-page-handler="Update" method="post">
                                <input type="text" value="" />
                            </form>
                        </td>
                    }

                    <td>
                        <form method="post">
                            <button class="btn btn-primary">+</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>